.grid-main {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 125px 50px 7.1fr;
    
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #0d0d0d;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1.5fr 2.5fr 0.5fr 4fr;
    grid-template-rows: 1fr;
}

.logo {
    grid-column: 1/2;
}
.search {
    grid-column: 2/3;
}
.menuright {
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.menu-category {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 40px;
    gap: 10px;
}
.filter {
    grid-column: 1/2;
    display: flex;
    align-items: center;
}
.category {
    grid-column: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    grid-column: 1/4;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: 33% 40% 27%;
    grid-template-rows: 66.67% 33.33%;
}

.image-carrousell-left {
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: #222222;
    border-radius: 50px;
    margin: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-product{
    grid-column: 2/3;
    grid-row: 1/2;

    background-color: #222222;
    border-radius: 50px;
    margin: 5px;
    margin-top: 20px;
}
.favorite-product {
    grid-column: 2/3;
    grid-row: 2/3;

    background-color: #222222;
    border-radius: 50px;
    margin: 5px;
    margin-bottom: 20px;
}

.extra-links {
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 33.33% 33.33% 33.33%;

    grid-column: 3/4;
    grid-row: 1/3;
}
    
.link-new-releases {
    grid-column: 1/2;
    grid-row: 1/2;

    background-color: #222222;
    border-radius: 50px;
    margin: 5px;
    margin-top: 20px;
    margin-right: 20px;
}
.link-newsletter {
    grid-column: 1/2;
    grid-row: 2/3;

    background-color: #222222;
    border-radius: 50px;
    margin: 5px;
    margin-right: 20px;
}
.link-contact {
    grid-column: 1/2;
    grid-row: 3/4;

    background-color: #222222;
    border-radius: 50px;
    margin: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}