.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 80%;
    height: 50%;
    border-radius: 50px;
    background-color: #222222;
    color: #a4a2a2;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img {
    max-width: 70%;
    margin-bottom: 2px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 2px;
    height: 50%;
    width: 100%;
    text-indent: 10%;
    display: grid;
    grid-template-columns: 4fr 0.1fr  60px;
    background-color: #222222;
    border-radius: 50px;
}

input[type=text] {
    background: #222222;
    color: #fff;
    width: 85%;
    padding-left: 7%;
    padding-right: 7%;
    margin: 3px;
    border-radius: 50px;
    border: none;
}
input[type=text]:active {
    background: #222222;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    margin: 3px;
    border-radius: 50px;
    border: none;
}
button[type=submit] {
    grid-column: 3/4;
    margin: 2px;
    border: none;
    background: #9b0000;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #de2330;
}

button[type=submit] i {
    color: #fff;
    font-size: 1.2rem;
}

.menuright {
    width: 92%;
}

.menu {
    padding: 2px;
    height: 50%;
    width: 63.3px;
    border-radius: 50px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu i {
    color: #fff;
    font-size: 1.2rem;
    opacity: 1;
}
.favorites {
    padding: 2px;
    height: 50%;
    width: 63.3px;
    border-radius: 50px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.favorites i {
    color: #9b0000;
    font-size: 1.2rem;
    opacity: 1;
}
.cart {
    padding: 2px;
    height: 50%;
    width: 63.3px;
    border-radius: 50px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart i {
    color: #fff;
    font-size: 1.2rem;
    opacity: 1;
}
.account {
    padding: 2px;
    height: 50%;
    width: 150px;
    border-radius: 50px;
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.account i {
    color: #fff;
    font-size: 1.2rem;
    opacity: 1;
}
.account span {
    color: #fff;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 1;
}
