@mixin font-main {
    font-family: "Titan One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
}

@mixin title {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.winky-sans-Title {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
