.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.platypi-300 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.platypi-400 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.platypi-500 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.platypi-600 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.platypi-700 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.platypi-800 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.platypi-300-h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.platypi-400-h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.platypi-500-h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.platypi-600-h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.platypi-700-h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.platypi-800-h1 {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: calc(50px + 2vw);
    font-style: normal;
}

.be-vietnam-pro-semibold-h1 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size: calc(50px + 2vw);
    font-style: normal;
}