@use "../colors" as colors;

header {
    z-index: 100;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3.5fr 2fr;

    .logo {
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            background: #f8f8fb;
            border-radius: 100px;
            gap: 20px;
            list-style: none;
            padding: 10px 15px 10px 30px;
            margin: 30px 60px 20px 40px;

            box-shadow: 0 8px 32px #0003,0 4px 16px #0003;

            a.contactBtn {
                border-radius: 50px;
                padding: 15px 30px;
                background: #f66c40;
                color: #222222;
                text-decoration: none;
            }

            li {
                a {
                    color: #222222;
                    text-decoration: none;
                }
            }
        }
    }
}
