@use '../colors' as colors;
@use '../mixins/mixins';
.logo {

    .background {
        width: 65%;
        height: 50%;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        column-count: 3;
        column-gap: 2px;

        .circle {
            background: colors.$background-logo;
            width: 50px;
            height: 50px;
            border-radius: 2px;
            border-top-right-radius: 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: colors.$text-color;
                text-decoration: none;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 900;
                font-size: 22px;
            }
        }
    }
}