@use '../colors' as colors;
@use '../mixins/mixins';

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: colors.$text-color;
    font-size: calc(25px + 1vw);

    display: flex;
    justify-content: center;
    align-items: center;
}